/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Stack+Sans+Headline:wght@200..700&display=swap');
:root {
   background-color: #d0e6f4;
   color: rgb(89, 118, 162);
   padding: 0%;
   border-radius: 0%;
   text-align: center;
   font-size: large;
}

html, body {
   height: 100%;
   margin : 0;
}

body {
    font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
display: grid;
grid-template-areas: 
"header header"
"nav main"
"footer footer";
grid-template-columns: 2fr 6fr;
grid-template-rows: 120px 1fr 60px; 
}
header {
grid-area: header; 
background-color: rgb(157, 199, 235);
border-radius: 16px;
padding: 10px;
margin: 10px;
text-align: center;
}
nav {
grid-area: nav; 
display: flex;
align-items: stretch;
}
nav ul {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: rgb(157, 199, 235);
   border-radius: 16px;
   margin: 10px;
   padding: 10px;
   gap: 16px;
   height: 1250px;
   list-style: none;
}
nav a{
   color: rgb(89, 118, 162);
   text-decoration: none;
}
nav a:hover {
   color: rgb(248, 235, 209);
}
main {
grid-area: main; 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.balk {
   margin-right: 150px;
   background-color: rgb(157, 199, 235);
}

footer {
grid-area: footer; 
background-color: rgb(157, 199, 235);
padding: 15px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header img {
position: absolute;
left: 20px;
top: 20px;
height: 80px;
border-radius: 16px;
}
main img {
   margin-right: 75px;
   border-radius: 16px;
   align-items: center;
}
main img:hover {
   transform: scale(1.02);
   transition: transform 0.3s;
}
main h3 {
   background-color: #C5D5EA;
   padding: 10px;
   margin-right: 150px;
   border-radius: 16px;
}
h3 {
   color:#7392B7 ;
}

table {
border-collapse: collapse;
margin-left: auto; 
margin-right: auto;
}
thead th {
background-color: #74A9CB;
color: white
}
tbody td {
border: 1px solid #74A9CB;
}
#C5D5EA
#759EB8
#7392B7
#B3C5D7
#D8E1E9