/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
   background-color: #d0e6f4;
   color: rgb(89, 118, 162);
   padding: 0%;
   border-radius: 0%;
   text-align: center;
   font-size: large;
}


body {
    font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
display: grid;
grid-template-areas: 
"header header"
"nav main"
"footer footer";
grid-template-columns: 2fr 6fr;
grid-template-rows: 120px 1fr 60px; 
}
header {
grid-area: header; 
background-color: rgb(157, 199, 235);
border-radius: 16px;
padding: 10px;
margin: 10px;
text-align: center;
}
nav {
grid-area: nav; 
display: flex;
align-items: stretch;
}
nav ul {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: rgb(157, 199, 235);
   border-radius: 16px;
   margin: 10px;
   padding: 10px;
   gap: 16px;
   height: 500px;
   list-style: none;
}
nav a{
   color: rgb(89, 118, 162);
   text-decoration: none;
}
nav a:hover {
   color: rgb(248, 235, 209);
}
main {
grid-area: main; 
}
footer {
grid-area: footer; 
background-color: rgb(157, 199, 235);
padding: 20px;
}